* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

.d-none {
  display: none;
}

.btn-active {
  background: #4c4c4c;
}

img {
  height: 100%;
  width: 100%;
}

.btn {
  background: transparent;
  border-radius: 3px;
  border: 0;
  color: #4c4c4c;
  cursor: pointer;
  font-weight: 700;
  outline: 0;
  padding: 5px;
}

.container {
  background: #5e27cdad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.header-page {
  background: #4c4c4c;
  height: 50px;
  width: 100%;
}

.container-form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin: 10px auto;
  margin-top: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-form-search__user {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.btn-search {
  background: #7d57c9;
  border-radius: 3px 0px 0px 3px;
  height: 35px;
  width: 70px;
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  width: auto;
}

.txtNotFound {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background: #b62222fd;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bolder;
  left: 5px;
  padding: 5px;
  position: relative;
  white-space: nowrap;
}

.form-search__bar-search {
  border: 1px solid #7d57c9;
  border-radius: 0px 3px 3px 0px;
  outline: none;
  text-indent: 5px;
  width: 300px;
  position: relative;
}

.counter {
  position: absolute;
  top: 60px;
  left: calc(90vw - 30px);
}


.counter span {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #5e27cdad;
  border-radius: 2px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 900;
  height: auto;
  padding: 3px;
  position: absolute;
  right: 0px;
  top: 35px;
  width: auto;
}

.counter img {
  width: 50px;
}

.content {
  background: #ddd9ce;
  border-radius: 0px 0px 3px 3px;
  border-top: 5px solid #4c4c4c;
  margin: 0px auto;
  overflow-x: auto;
  overflow-y: auto;
  height: 50vh;
  width: 90vw;
}

.overflow-active {
  overflow-y: auto;
}

.table {
  border-collapse: collapse;
  font-size: 0.8em;
  margin: 25px auto;
  table-layout: fixed;
  width: 90%;
}

.table th {
  background: #7d57c9;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  padding: 5px;
  width: 50px;
}

.table th:nth-child(1) {
  width: 10px;
}

.table td {
  border-bottom: 1px solid #7d57c9;
  color: #4c4c4c;
  font-size: 15px;
  padding: 3px;
  text-align: center;
}

.form-submit {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ddd9ce;
  border-radius: 0px 0px 3px 3px;
  border-top: 5px solid #4c4c4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px auto;
  padding: 20px;
  width: 90vw;
}

.form-submit p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 25%;
}

.form-submit p>input {
  border: 1px solid #7d57c9;
  border-radius: 0px;
  height: 35px;
  margin-right: 1px;
  outline: none;
  text-indent: 5px;
  width: 100%;
}

.form-submit p>input[type=text] {
  border-radius: 3px 0px 0px 3px;
}

.form-submit p i {
  margin: 0;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.btn-add {
  background: #7d57c9;
  border-radius: 0px 3px 3px 0px;
  color: #fff;
  height: 35px;
  width: 70px;
}

.btn-edit, .btn-delete {
  width: 35px;
}

.btn-trash {
  position: absolute;
  right: 0px;
  top: 20px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  width: 50px;
}

.btn-trash:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 5px auto 10px;
  width: 90vw;
}

.pagination a, .pagination span {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ddd9ce;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 25px;
  text-decoration: none;
  width: 25px;
}

.pagination__btn-previous {
  background: #7d57c9;
  border-radius: 2px 0px 0px 2px;
}

.pagination__btn-next {
  border-radius: 0px 2px 2px 0px;
  background: #7d57c9;
}

.pagination a:hover {
  background: #4c4c4c;
}

.pagination span {
  border: none;
  margin-right: 20px;
  width: auto;
}

.pagination a.active {
  background-color: #ddd9ce;
  color: #000;
}

.section-validate {
  margin: 0 auto;
  position: relative;
  width: 90vw;
}

.section-validate ul {
  padding: 5px 0px;
  list-style-type: none;
}

.section-validate li {
  color: #b62222fd;
  font-size: 0.9em;
  padding: 0px;
}

.dialog {
  height: 100px;
  background: #ddd9ce;
  border-radius: 3px;
  border: 2px solid #4c4c4c;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 20vw;
  z-index: 900;
}

.dialog__header {
  background: #4c4c4c;
  width: 100%;
}

.dialog__nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #4c4c4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.btn-close {
  width: 20px;
}

.dialog__content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: calc(100% - 25px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dialog__content p {
  line-height: 2em;
}

.btn-confirm {
  background: #1b6d1b;
  color: #fff;
  font-size: 0.9em;
  width: 60px;
}

.btn-cancel {
  background: #b62222fd;
  color: #fff;
  font-size: 0.9em;
  width: 60px;
}

.dialog-background {
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */